<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="sms" class="com.drama.services.SmsService"></bean>
        <bean id="xmlApp" class="com.drama.consumer.XMLApp">
            <property name="service" ref="sms"></property>
        </bean>

        <bean id="employee" class="com.drama.consumer.Employee" autowire="byName">
            <property name="name" value="Guo"/>
        </bean>

        <bean id="department" class="com.drama.consumer.Department">
            <property name="name" value="RD"/>
        </bean>
</beans>